repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.13
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML>=6.0.12.12
          - pydantic>=2.11.0
          - pydantic-settings>=2.9.1
          - typer-slim>=0.16.0
          - pytest>=8.3.0
          - pyudev>=0.24.0
          - jinja2>=3.1.0
          - rich>=13.3.0
        args: [--config-file=pyproject.toml]
